grpcio==1.67.1
boto3==1.35.76
solana==0.35.1
base58==2.1.1
kubernetes==31.0.0
requests==2.32.3
debugpy==1.8.9
grpcio-reflection==1.67.1
protobuf==5.28.3
grpcio-health-checking==1.67.1
google-api-core[grpc]==2.22.0
libcst==0.3.23
googleapis-common-protos>=1.65.0
proto-plus>=1.25.0
quart==0.19.9
pynacl==1.5.0
hypercorn==0.17.3
